WebRoot/custom/resources/tyyd/conf/AuthCheckService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://services.com"
	xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="http://services.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://services.com">
			<xsd:element name="checkTokenCode">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="in0"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="checkTokenCodeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sendTokenCode">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="in0"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sendTokenCodeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="mobileLogon">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="in0"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="mobileLogonResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAsk">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="in0"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAskResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="checkAnswer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="in0"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="checkAnswerResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="checkAnswerResponse">
		<wsdl:part name="parameters" element="tns:checkAnswerResponse" />
	</wsdl:message>
	<wsdl:message name="sendTokenCodeRequest">
		<wsdl:part name="parameters" element="tns:sendTokenCode" />
	</wsdl:message>
	<wsdl:message name="checkTokenCodeResponse">
		<wsdl:part name="parameters" element="tns:checkTokenCodeResponse" />
	</wsdl:message>
	<wsdl:message name="sendTokenCodeResponse">
		<wsdl:part name="parameters" element="tns:sendTokenCodeResponse" />
	</wsdl:message>
	<wsdl:message name="checkAnswerRequest">
		<wsdl:part name="parameters" element="tns:checkAnswer" />
	</wsdl:message>
	<wsdl:message name="mobileLogonRequest">
		<wsdl:part name="parameters" element="tns:mobileLogon" />
	</wsdl:message>
	<wsdl:message name="getAskResponse">
		<wsdl:part name="parameters" element="tns:getAskResponse" />
	</wsdl:message>
	<wsdl:message name="checkTokenCodeRequest">
		<wsdl:part name="parameters" element="tns:checkTokenCode" />
	</wsdl:message>
	<wsdl:message name="getAskRequest">
		<wsdl:part name="parameters" element="tns:getAsk" />
	</wsdl:message>
	<wsdl:message name="mobileLogonResponse">
		<wsdl:part name="parameters" element="tns:mobileLogonResponse" />
	</wsdl:message>
	<wsdl:portType name="AuthCheckServicePortType">
		<wsdl:operation name="checkTokenCode">
			<wsdl:input name="checkTokenCodeRequest" message="tns:checkTokenCodeRequest" />
			<wsdl:output name="checkTokenCodeResponse" message="tns:checkTokenCodeResponse" />
		</wsdl:operation>
		<wsdl:operation name="sendTokenCode">
			<wsdl:input name="sendTokenCodeRequest" message="tns:sendTokenCodeRequest" />
			<wsdl:output name="sendTokenCodeResponse" message="tns:sendTokenCodeResponse" />
		</wsdl:operation>
		<wsdl:operation name="mobileLogon">
			<wsdl:input name="mobileLogonRequest" message="tns:mobileLogonRequest" />
			<wsdl:output name="mobileLogonResponse" message="tns:mobileLogonResponse" />
		</wsdl:operation>
		<wsdl:operation name="getAsk">
			<wsdl:input name="getAskRequest" message="tns:getAskRequest" />
			<wsdl:output name="getAskResponse" message="tns:getAskResponse" />
		</wsdl:operation>
		<wsdl:operation name="checkAnswer">
			<wsdl:input name="checkAnswerRequest" message="tns:checkAnswerRequest" />
			<wsdl:output name="checkAnswerResponse" message="tns:checkAnswerResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AuthCheckServiceHttpBinding" type="tns:AuthCheckServicePortType">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="checkTokenCode">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="checkTokenCodeRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="checkTokenCodeResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sendTokenCode">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="sendTokenCodeRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sendTokenCodeResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="mobileLogon">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="mobileLogonRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="mobileLogonResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAsk">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getAskRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getAskResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="checkAnswer">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="checkAnswerRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="checkAnswerResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AuthCheckService">
		<wsdl:port name="AuthCheckServiceHttpPort" binding="tns:AuthCheckServiceHttpBinding">
                  <wsdlsoap:address location="http://10.204.96.225:9080/AuthHub/services/AuthCheckService" /> 
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>